* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 14pt;
}

#seperator {
    font-weight: 100;
}

.content-center {
    text-align: center !important;
}

.content-center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    font-size: 30px;
    font-weight: 800;
    margin: 0px 10px;
}

nav > a {
    text-decoration: none;
    color: burlywood;
}

nav > a:hover {
    text-decoration: underline;
}

#nav-active {
    color: brown;
}
